body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
}

h2 {
  color: #333;
}

h1 {
  font-size: 48px;
  margin: 20px 0;
}

p {
  color: #555;
}

button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}
